<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Home</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Oxygen&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/e2cd4330ca.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link rel="stylesheet" href="css/main.css">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-dark mb-3 py-0">
    <a class="navbar-brand" href="/">
      <img class="logo" src="images/mean_logo.png" alt="mean logo">
    </a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link text-light" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" href="/users">Users</a>
      </li>
    </ul>
  </nav>
  <div class="container">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Full Name</th>
          <th scope="col">Email</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <% for (var id = 0; id < userss.length; id++) { %>
        <tr>
          <th scope="row"><%= userss[id].id %></th>
          <td><%= userss[id].fname %>&nbsp;<%= userss[id].lname %></td>
          <td><%= userss[id].em %></td>
          <td>
              <a href="/view_user/<%= userss[id].id %>" class="far fa-eye btn-lg btn-link text-secondary"></a>
              <a href="#" class="far fa-edit btn-lg btn-link text-warning"></a>
              <a href="/delete_user/<%= userss[id].id %>" class="fas fa-trash-alt btn-lg btn-link text-danger"></a>
            </td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </div>
</body>
</html>